/* 
* {
    font-size: 20px;
    color: blue;
} afecta todos los elementos *
    */

footer {
    color: red;
}


.grupo1 {
    color: green;
}

#usuario {
    border-color: orange;
}

#clave {
    border-color: purple;
}

input[type] {
    width: 300px;
    height: 50px;
}


input[type="submit"] {
    background-color: aqua;
    border-color: blue;
    color: black;
}

[class*="g"]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}