/* 
* {
    font-size: 20px;
    color: blue;
} afecta todos los elementos *
    */

footer {
    color: red;
}


.grupo1 {
    color: green;
}

#usuario {
    border-color: orange;
    font-size: 20px;
}

#clave {
    border-color: purple;
}

input[type] {
    width: 300px;
    height: 50px;
}


input[type="submit"] {
    background-color: aqua;
    border-color: blue;
    color: black;
}

[class*="g"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nivel1 p {
    color: fuchsia;
}

#nivel1>p {
    color: rgb(51, 158, 47);
}

#nivel2 h1+p {
    color: rgb(202, 29, 67);
}

#nivel2 h1~p {
    font-size: 25px;
}

#caja {
    background-color: red;
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
}

.contenedor {
    background-color: purple;
    height: 50%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor2 {
    background-color: purple;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.elementos {
    background-color: orange;
    height: 60px;
    width: 60px;
    
}