.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: orange !important;
}

.accordion-body {
    font-size: 20px;
    font-family: fantasy;
}

#busqueda {
    background-color: blueviolet;
    color: #fff;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>:not(.btn-check:first-child)+.btn {
    background-color: blueviolet !important;
    color: #fff;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    background-color: blueviolet !important;
    color: #fff;
}

.container {
    background-color: blue;
}

[class*="col"]  {
    background-color: red;
    border:1px solid black;
}